* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}

/* menukaart */




/* site */


.box {
  padding: 1%;
  width: 80%;
  height: 100%;
  background-color: #9F956C;
  border-radius: 3px;
  box-shadow: 3px 6px 10px 6px rgba(0,0,0,0.58);
}
.box2 {
  padding: 1%;
  width: 80%;
  background-color: #584D3D;

}

.box3 {
  padding: 1%;
  width: 80%;
  background-color: #584D3D;
}

/* Header settings */
/* header {
  background-color: orange;
  text-align: center;
  padding-top: 3px;
  border-bottom: 1px solid black;
} */

header{
position: fixed;



}


header ul {
  list-style-type: none;
}

header ul li {
  display: inline;
  padding: 2%;
}

header ul li a {
  text-decoration: none;
  color: white;
}

header ul li a:hover {
  color: black;
}

/* Content Settings */
main {
  background-color: #9F956C;
  color: black;
  display: flex;
  flex-direction: row;
}
.mainer {
  background-color: #9F956C;
  color: black;
}

.Image {
  width: 55%;
  background-color: #CBBF7A;
  margin: 2%;
  padding: 2%;
  text-align: center;
  display: flex;
}

.container {
  width: 30%;
  background-color: #EBF38B;
  margin: 2%;
  padding: 2%;
  text-align: center;
  display: flex;
  flex-direction: row;
}
/* Footer */
footer {
  background-color: #584D3D;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  color: white;
  text-align: center;
}

/* table */

.tableadmin {
  width: 100%;
  height: 50%;
  text-align: center;
  border: 2px solid black;
  padding: 1px;
  background-color: #CBBF7a;
  color: black;
  box-shadow: 3px 6px 10px 6px rgba(0,0,0,0.58);

}
.tableaddadmin {
  width: 30%;
  text-align: center;
  border: 2px solid black;
  padding: 1px;
  background-color: #CBBF7A;
  color: black;
  box-shadow: 3px 6px 10px 6px rgba(0,0,0,0.58);
}
.tabledest {
  width: 100%;
  height: 80%;
  text-align: center;
  border: 2px solid black;
  padding: 1px;
  background-color: #CBBF7a;
  color: black;
  box-shadow: 3px 6px 10px 6px rgba(0,0,0,0.58);
}
.tableadddest {
  width: 30%;
  text-align: center;
  border: 2px solid black;
  padding: 1px;
  background-color: #CBBF7a;
  color: black;
}

.tablecontact {
  width: 700px;
  height: 500px;
  text-align: center;
  border: 2px solid black;
  padding: 1px;
  background-color: #CBBF7a;
  color: black;
  margin-top: 25px;
  box-shadow: 3px 6px 10px 6px rgba(0,0,0,0.58);
}

tr:hover {
  background-color: beige;
}

td {
  border: 1px solid black;
}

th {
  border: 1px solid black;

}

/* Buttons */

.buttonhome {
  padding: 1%;
  text-decoration: none;
  color: #584D3D;
  font-weight: bold;
  border-radius: 3px;
}
.buttonhome:hover {
  color: white;
}
.buttonadmin {
  background-color: #584D3D;
  padding: 1%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 3px;
}
.buttonadmin:hover {
  color: white;
  background-color: black;
}

.buttonupdate {
  background-color: #EBF38B;
  padding: 1%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 3px;
}
.buttonupdate:hover {
  color: white;
  background-color: black;
}

.buttondelete {
  background-color: #584D3D;
  padding: 1%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 3px;
}

.buttondelete:hover {
  color: white;
  background-color: black;
}
.buttondest {
  background-color: chocolate;
  padding: 1%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.buttondest:hover {
  color: white;
  background-color: black;
}
.buttoncategorie {
  background-color: chocolate;
  padding: 1%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.buttoncategorie:hover {
  color: white;
  background-color: black;
}

.buttonsub {
  background-color: Green;
  padding: 1%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.buttonsub:hover {
  color: white;
  background-color: black;
}
/* contact css */
.contacttext {
  background-color: gray;
  color: black;
  width: 50%;
  text-align: center;
  padding: 3px;
}
/* IMG Style */
.imgstyle {
  width: 100%;
  height: 150px;
}
