* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}

.box {
  padding: 1%;
  width: 80%;
}

/* Header settings */
header {
  background-color: orange;
  text-align: center;
  padding-top: 3px;
  border-bottom: 1px solid black;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline;
  padding: 2%;
}

header ul li a {
  text-decoration: none;
  color: white;
}

header ul li a:hover {
  color: black;
}

/* Content Settings */
main {
  background-color: grey;
  color: black;
  display: flex;
  flex-direction: row;
}
.mainer {
  background-color: grey;
  color: black;
}

.Image {
  width: 55%;
  background-color: darkgoldenrod;
  margin: 2%;
  padding: 2%;
  text-align: center;
  display: flex;
}

.container {
  width: 30%;
  background-color: darkgoldenrod;
  margin: 2%;
  padding: 2%;
  text-align: center;
  display: flex;
  flex-direction: row;
}
/* Footer */
footer {
  background-color: orange;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  color: white;
  text-align: center;
}

/* table */

.tableadmin {
  width: 100%;
  height: 50%;
  text-align: center;
  border: 2px solid black;
  padding: 1px;
  background-color: orange;
  color: black;
}
.tableaddadmin {
  width: 30%;
  text-align: center;
  border: 2px solid black;
  padding: 1px;
  background-color: orange;
  color: black;
}
.tabledest {
  width: 100%;
  height: 80%;
  text-align: center;
  border: 2px solid black;
  padding: 1px;
  background-color: orange;
  color: black;
}
.tableadddest {
  width: 30%;
  text-align: center;
  border: 2px solid black;
  padding: 1px;
  background-color: orange;
  color: black;
}

.tablecontact {
  width: 700px;
  height: 500px;
  text-align: center;
  border: 2px solid black;
  padding: 1px;
  background-color: orange;
  color: black;
  margin-top: 25px;
}

td {
  border: 1px solid black;
}

/* Buttons */

.buttonhome {
  padding: 1%;
  text-decoration: none;
  color: red;
  font-weight: bold;
  border: solid black 2px;
}
.buttonhome:hover {
  color: white;
}
.buttonadmin {
  background-color: chocolate;
  padding: 1%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.buttonadmin:hover {
  color: white;
  background-color: black;
}

.buttonupdate {
  background-color: yellow;
  padding: 1%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.buttonupdate:hover {
  color: white;
  background-color: black;
}

.buttondelete {
  background-color: red;
  padding: 1%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.buttondelete:hover {
  color: white;
  background-color: black;
}
.buttondest {
  background-color: chocolate;
  padding: 1%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.buttondest:hover {
  color: white;
  background-color: black;
}
.buttoncategorie {
  background-color: chocolate;
  padding: 1%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.buttoncategorie:hover {
  color: white;
  background-color: black;
}

.buttonsub {
  background-color: Green;
  padding: 1%;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.buttonsub:hover {
  color: white;
  background-color: black;
}
/* contact css */
.contacttext {
  background-color: gray;
  color: black;
  width: 50%;
  text-align: center;
  padding: 3px;
}
/* IMG Style */
.imgstyle {
  width: 100%;
  height: 150px;
}
